* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Lulo Clean;
}
@font-face {
  font-family: 'Lulo Clean';
  src: url('fonts/lulocleanttf.ttf');
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.1em;
}
@font-face {
  font-family: 'Avenir Light';
  src: url('fonts/FontsFree-Net-Avenir-Light.ttf');
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.1em;
}
.br {
  display: block;
  margin-bottom: 0.5em;
}
.background {
  background-image: url('pictures/Background.JPG');
  background-position: top center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.welcome_sentence {
  position: absolute;
  text-align: center;
  height: 500px;
  top: 0px;
  width: 100%;
}
.intro {
  position: relative;
  text-transform: capitalize;
  color: white;
  width: 100%;
  font-size: 31px;
  top: 50%;
}
.option_list button {
  font-family: Lulo Clean;
  font-size: 40px;
  color: black;

  background-color: #998b6f;
  border: 10px solid black;
  cursor: pointer;

  position: relative;
  height: 130px;
  width: 100%;
  display: block;
}
.option_list button:hover {
  background-color: aliceblue;
}
.option_list {
  background-color: #a3b8c2;
  position: relative;
  width: 100%;
  height: 530px;
  padding: 30px 27.5%;
}
.about_me {
  background-color: #5f5c5c;
  position: relative;
  height: 800px;
  width: 100%;
  padding: 100px 0px;
}
.about_me img {
  height: auto;
  width: 450px;
}
.about_text {
  width: 550px;
  color: whitesmoke;
  padding: 0px 10px;
}
.about_text ul {
  list-style-position: outside;
  list-style-type: disc;
}
.about_text li {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  letter-spacing: 0.1em;
  line-height: 2.4em;
}
.main {
  width: 1130px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.b_main {
  position: absolute;
  align-items: center;
  width: 100%;
  height: 850px;
  padding: 30px;
  content: '';
  clear: both;
  display: table;
}
.b_heading {
  width: 100%;
  padding-left: 25%;
}
.b_content {
  height: 750px;
  padding: 0% 0% 0% 10%;
  min-width: max-content;
  display: flex;
  align-items: center top;
  justify-content: space-around;
}
.b_lc {
  position: relative;
  display: block;
  width: 50%;
  height: auto;

  padding: 40px 5% 0% 20%;
  border-right: 3px solid black;
}
.b_lc button {
  position: relative;
  left: 15%;
  top: 20%;
  width: 150px;
  height: 40px;

  color: white;
  text-align: center;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;

  border: 1px solid black;
  background-color: black;
}
.b_lc button:hover {
  background-color: whitesmoke;
  color: black;
}
.b_p {
  width: 100%;
  padding-left: 10%;
  line-height: 2em;
  font-size: 15px;
  font-family: Lulo Clean;
}

.b_p p {
  width: 375px;
  height: 100%;
}
