<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quan Nguyen</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="background"></div>
      <div class="welcome_sentence">
        <span class="intro">
          <h1>Hi, i'm quan nguyen</h1>
          <div class="br"></div>
          <p style="text-align: center; line-height: normal; font-family:Avenir Light;text-transform: none;">Self-motivation is the key to everything.</p>
        </span>
        
      </div>
    </div>
    <section class="option_list">
      <br>
      <button>About Me</button>
      <br>
      <button>Resume</button>
      <br>
      <button>Fun Facts</button>
      <br>
    </section>
    <section class = "about_me">
      <div class="main">
        <img src="/pictures/WorkRelated.JPG"/>
        <div class="about_text">
          <h2 style="font-size: 50px; padding-left: 0px;">About Me!</h2>
          <ul >
            <li>Broke two of my front teeth twice</li>
            <li>Lucky number is 10</li>
            <li>Prefer diving than swimming</li>
            <li>Script games as a hobby</li>
            <li>Anime Addiction</li>
          </ul>
        </div>
      </div>
    </section>
    <section class="bio">
      <div class="b_main">
        <h1>Biography</h1>
      </div>
    </section>
  </body>
</html>